*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-200: hsl(0, 0%, 85%);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "Alata", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

a {
  position: relative;
}

a::after {
  position: absolute;
  background-color: transparent;
  content: "";
  width: 0%;
  bottom: -0.625rem;
  left: 50%;
  height: 0.125rem;
  transition: 0.5s ease;
}

a:hover::after {
  width: 45%;
  left: 28%;
  background-color: #e8d7ec;
}

.nav__mobile-menu-link:hover::after {
  background-color: #eee;
}

.nav__logo-link:hover::after {
  display: none;
}

.products__grid-item-link:hover::after {
  display: none;
}

.products__title-see-all:hover::after {
  display: none;
}

.products__title-see-all-mobile a:hover::after {
  display: none;
}

.footer__menu-link:hover::after {
  background-color: #eee;
}

.footer__socials-link::after {
  position: absolute;
  background-color: transparent;
  content: "";
  width: 0%;
  bottom: -0.25rem;
  left: 40%;
  height: 0.125rem;
  transition: 0.5s ease;
}

.footer__socials-link:hover::after {
  background-color: #eee;
  bottom: -0.25rem;
  left: 0.41875rem;
  width: 60%;
}

.dark-overlay {
  z-index: 501;
}

.nav {
  z-index: 502;
}

.products__grid-item-link picture img {
  z-index: 100;
}

.products__grid-item-title {
  z-index: 101;
}

.products__grid-item-link picture::after {
  z-index: 102;
}

.products__grid-item-link picture:hover::after {
  z-index: 104;
}

.products__grid-item-link picture:hover + .products__grid-item-title {
  z-index: 106;
}

.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.nav--scroll-active {
  background-color: rgba(0, 0, 0, 0.4352941176);
  backdrop-filter: brightness(80%);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}

.nav__container {
  max-width: 90rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10.3125rem 1rem;
}

.nav__menu-items {
  display: flex;
  align-items: start;
  gap: 2.0625rem;
  height: 100%;
  padding-bottom: 0.25rem;
}

.nav__menu-link {
  font-size: 0.9375rem;
  color: #e8d7ec;
  font-weight: 300;
  letter-spacing: 0.009375rem;
}

.dark-overlay {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  backdrop-filter: brightness(0%);
  transition: 1s ease;
}

.dark-overlay--active {
  opacity: 1;
}

.nav__mobile-nav {
  display: none;
}

.nav__mobile-nav-hamburger-btn {
  display: block;
  cursor: pointer;
}

.nav__mobile-nav-hamburger-btn.nav__mobile-nav-hamburger-btn--active {
  display: none;
}

.nav__mobile-nav-hamburger-close {
  display: none;
}

.nav__mobile-nav-hamburger-close--active {
  display: block;
  cursor: pointer;
}

.nav__mobile-nav-slide {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  padding-left: 10.3125rem;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.nav__mobile-nav-slide--active {
  opacity: 1;
  display: block;
}

.nav__mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 8.875rem 0;
  height: 100vh;
}

.nav__mobile-menu-link {
  color: #eee;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.75rem;
}

.header__hero {
  position: relative;
}

.header__hero-image {
  display: flex;
  position: relative;
  width: 100%;
  height: 40.625rem;
}

.header__hero-image img {
  filter: brightness(60%);
  object-fit: cover;
}

.header__title {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  margin: 14.0625rem 10.25rem;
  padding: 2.4375rem 2.5rem 1.6875rem;
  max-width: 40.75rem;
  border: 0.125rem solid #eee;
  color: #eee;
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 0.03125rem;
  line-height: 0.97;
}

.header__hero-image-mobile {
  display: none;
}

.about__container {
  height: 49.3125rem;
  padding: 10rem 10.25rem;
}

.about__image {
  position: relative;
  display: flex;
}

.about__article {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33.875rem;
  height: 19.8125rem;
  background-color: #fff;
  padding-left: 6rem;
  padding-top: 6rem;
}

.about__article-title {
  text-transform: uppercase;
  font-size: 2.9375rem;
  letter-spacing: 0.04375rem;
  font-weight: 300;
  margin-bottom: 1.6875rem;
}

.about__article-text {
  font-size: 0.9375rem;
  color: #919191;
  line-height: 1.65;
  letter-spacing: 0.0125rem;
}

.about__article-mobile {
  display: none;
}

.about__article-title-mobile {
  position: relative;
  text-transform: uppercase;
  font-size: 2.9375rem;
  letter-spacing: 0.04375rem;
  font-weight: 300;
  margin-top: 1.6875rem;
}

.about__article-text-mobile {
  font-size: 0.9375rem;
  color: #919191;
  line-height: 1.65;
  letter-spacing: 0.0125rem;
}

.products__container {
  padding: 3.125rem 10.0625rem 1rem 10.25rem;
}

.products__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.75rem;
}

.products__title {
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 0.0125rem;
}

.products__title-see-all {
  padding: 0.5625rem 2.25rem;
  border: 0.125rem solid #919191;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  height: 2.625rem;
  display: inline-block;
  color: #000;
  font-size: 0.9375rem;
}

.products__title-see-all:hover {
  color: #eee;
  background-color: #000;
  border: #000;
}

.products__title-see-all-mobile a:hover {
  color: #eee;
  background-color: #000;
  border: #000;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8125rem;
  row-gap: 1.5625rem;
}

.products__grid-item picture {
  position: relative;
}

.products__grid-item-title {
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  width: 56%;
  line-height: 1;
}

.products__grid-item:nth-child(5) .products__grid-item-title {
  width: 70%;
}

.products__grid-item {
  display: flex;
  justify-content: center;
}

.products__grid-item-link picture {
  display: flex;
  position: relative;
}

.products__grid-item-link picture::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  pointer-events: none;
}

.products__grid-item-link picture:hover::after {
  background-color: #fff;
  opacity: 0.8;
  transition: 1s ease;
}

.products__grid-item-link picture:hover + .products__grid-item-title {
  color: #000;
}

.products__title-see-all-mobile a {
  display: none;
}

.products {
  margin-bottom: 10.5rem;
}

.footer__container {
  background-color: #000;
  padding: 2.6875rem 10rem 2.6875rem 10.3125rem;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 9rem;
  margin-bottom: 1.25rem;
}

.footer__menu-items {
  display: flex;
  align-items: start;
  gap: 2.0625rem;
  height: 100%;
  padding-bottom: 0.125rem;
}

.footer__menu-link {
  font-size: 0.9375rem;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 0.009375rem;
}

.footer__socials-items {
  display: flex;
  justify-content: flex-end;
  gap: 0.125rem;
  padding-bottom: 1.25rem;
}

.footer__socials-link {
  color: #eee;
}

.footer__copyright {
  color: #717171;
  font-size: 0.875rem;
  margin-right: 0.3125rem;
  letter-spacing: 0.04375rem;
}

@media (max-width: 1439px) {
  .products__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8125rem;
    row-gap: 1.5625rem;
  }
}
@media (max-width: 1082px) {
  .about__container {
    height: auto;
    padding: 10rem 4rem 0rem;
    margin-bottom: 7.8125rem;
  }
  .about__image {
    display: flex;
    justify-content: center;
  }
  .about__article {
    display: none;
  }
  .about__article-mobile {
    display: block;
    text-align: center;
  }
  .about__article-title-mobile {
    margin-top: 3.75rem;
  }
  .products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__flex {
    flex-direction: column;
  }
  .footer__logo-n-menu {
    display: flex;
    flex-direction: column;
  }
  .footer__menu {
    display: flex;
    justify-content: center;
  }
  .footer__menu-items {
    display: flex;
    flex-direction: column;
  }
  .footer__socials-items {
    justify-content: center;
    margin-top: 1.5rem;
  }
  .footer__container {
    padding: 2.6875rem 1.25rem 2.6875rem 1.5625rem;
  }
}
@media (max-width: 960px) {
  .nav__menu {
    display: none;
  }
  .nav__mobile-nav {
    display: block;
  }
  .nav__container {
    max-width: 90rem;
    width: 100%;
    padding: 4rem 4.0625rem 1rem;
  }
  .header__title {
    top: 0;
    margin: 14.0625rem 4rem;
    padding: 2.4375rem 2.5rem 1.6875rem;
    max-width: 40.75rem;
  }
  .products {
    margin-bottom: 5.25rem;
  }
  .products__title-wrap {
    justify-content: center;
  }
  .products__title-see-all {
    display: none;
  }
  .products__title-see-all-mobile {
    display: flex;
    justify-content: center;
  }
  .products__title-see-all-mobile a {
    display: block;
    padding: 0.5625rem 2.25rem;
    border: 0.125rem solid #919191;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    height: 2.625rem;
    display: inline-block;
    color: #000;
    font-size: 0.9375rem;
    margin: 1.8125rem auto;
  }
}
@media (max-width: 768px) {
  .nav__container {
    padding: 4rem 2.8125rem 1rem;
  }
  .about__container {
    height: auto;
  }
  .header__title {
    margin: 14.0625rem 1.5rem;
    font-size: 2.875rem;
  }
  .products__grid {
    grid-template-columns: minmax(100px, auto);
  }
  .products__grid img {
    width: 430px;
  }
  .products__container {
    padding: 3.125rem 0.6875rem 1rem 0.875rem;
  }
  .nav__mobile-nav-slide {
    padding-left: 0;
  }
  .nav__mobile-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.375rem 0;
  }
}
@media (max-width: 430px) {
  .nav__container {
    padding: 4rem 2.5625rem;
  }
  .header__title {
    max-width: 21.875rem;
    padding: 3.75rem 0.625rem;
    font-size: 2.625rem;
  }
  .about__container {
    height: auto;
    padding: 10rem 1.25rem 0rem;
    position: static;
  }
  .about__article-title-mobile {
    text-align: center;
    font-size: 2.125rem;
  }
  .header__hero-image {
    display: none;
  }
  .header__hero-image-mobile {
    display: block;
  }
  .header__hero-image-mobile img {
    filter: brightness(100%);
  }
  .products__grid img {
    width: 21.25rem;
  }
  .products__title {
    font-size: 2.125rem;
  }
  .footer__container {
    padding: 2.6875rem 1.25rem 2.6875rem 1.5625rem;
  }
}